  <div class="modal-header">
    <h2>Aviso</h2>
  </div>
  <div class="modal-body">
    <p>Necesitamos Conocer tu ubicación para mostrarte los puntos de contagios en tu sector</p>
    <span *ngIf="noacepta"><a>*Enciende tu GPS para obtener su ubicación y cerrar este cuadro de diálogo</a></span>
    
  </div>
  <div class="modal-footer">
    <ion-buttons slot="start">
      <ion-button (click)="onClick()" expand="block">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        Obtener Ubicación
      </ion-button>
    </ion-buttons>
 
  </div>