<ion-header [translucent]="true">
  <ion-toolbar color="danger">
  <ion-buttons slot="start">
    <ion-menu-button menu="first"></ion-menu-button>
  </ion-buttons>
  <ion-title class="ion-text-center" style="font-size: medium;">Informate UTA-Covid 19 en Ambato </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" >
  <ion-spinner *ngIf="cargando" name="lines-small"></ion-spinner>
  <!-- <div *ngIf="!cargando"> -->
    <div id="map" >
    </div>
  <!-- </div> -->
</ion-content>
